.field
	display: block
	margin-bottom: 20px

.field__label, 
.field__el
	display: block
.field__label
	margin-bottom: 5px
	color: #3d3d3d
	sup
		font-size: 12px
		color: #fe4747 
.field__el
	position: relative
	input, 
	textarea
		border: 1px solid #d6d6d6
		font: normal 12px Arial,sans-serif
		+tr
		+placeholder
			font-style: italic
			color: #a1a1a1
		&:hover,
		&:focus
			border-color: #ddc098
	textarea
		padding: 11px
		resize: vertical
		max-height: 180px
	input
		height: 29px
		padding: 0 11px
		&.has-error
			border-color: #f00
			color: #f00 
	label
		&.has-error
			color: #f00 
			position: absolute
			top: 100%
			left: 0
	input[value],
	.has-value
		border: 1px solid #ddc097
		background: #fdf8f0
	.field__file
		border: 0
		padding: 0
	.btn-file
		input
			+opacity(0)
		span
			position: absolute
			left: 0
			top: 0
			height: 23px
			width: 98px
			border: 1px solid #d8d8d8
			border-radius: 2px
			font-weight: bold
			text-align: center
			line-height: 23px
			font-size: 12px
			background: #fefefe
			+g(#fff,#e8e8e8)
			+box-shadow(0 1px 2px #a9a9a9)
			cursor: pointer
			&:hover
				background: #e8e8e8 
				+g(#e8e8e8,#fff)
			&:active
				background: #e8e8e8 
				+box-shadow(none)
	.field__file-info
		position: absolute
		right: -7px
		top: -1px  
		padding: 0 20px 
		width: 100px
		font-size: 10px
		background: #fff 
		color: #bababa
		font-style: italic 
.input, 
.input_textarea
	border: 1px solid #d6d6d6
	font: normal 12px Arial,sans-serif
	+tr
	+placeholder
		font-style: italic
		color: #a1a1a1
	&:hover,
	&:focus
		border-color: #ddc098
	&.has-value
		border: 1px solid #ddc097
		background: #fdf8f0
.input_textarea
	padding: 11px
	resize: vertical
	max-height: 180px
.input
	height: 29px
	padding: 0 11px
	&.has-error
		border-color: #f00
		color: #f00 
.input[value]
	border: 1px solid #ddc097
	background: #fdf8f0

.btn
	display: inline-block
	height: 35px
	width: auto
	padding: 0 17px
	border-radius: 3px
	border-bottom: 2px solid 
	font: normal 12px/33px "Arial Black",Arial,sans-serif
	text-decoration: none
	color: #fefefe !important
	+box
.btn_green
	border-bottom-color: #5c940b 
	background: #aad223
	+g(#aad223, #65ad13)
	text-shadow: 0 1px 2px rgba(0,0,0,.2)
	+box-shadow(0 2px 4px rgba(84,147,0,.54))
	&:hover
		background: #65ad13
		+g(#65ad13, #aad223)
	&:active
		background: #87bf1a 
	&.btn_next
		position: relative
		width: auto
		padding: 0 55px 0 32px 
		&:after
			content: ""
			position: absolute
			right: 21px
			bottom: 8px
			+s(btn-green-arr) 
	&[disabled]
		background: #aaa
		cursor: default
		border-color: #656565 
		+box-shadow(0 2px 4px rgba(0,0,0,.3))
		+background-image(linear-gradient(bottom, rgba(0,0,0,.29) 0%, rgba(255,255,255,.29) 100%))
	&.btn_basket
		position: relative
		padding: 0 42px 0 60px 
		&:before
			content: ""
			position: absolute
			top: 10px
			left: 20px 
			+s(basket)      
.btn_orange
	background: #f7aa35
	+g(#f7aa35, #f1651d)
	border-bottom-color: #ce530e 
	+box-shadow(0 2px 4px rgba(206,75,22,.54))
	&:hover
		background: #f7aa35
		+g(#f1651d, #f7aa35)
	&:active
		background: #f1651d 
	&.btn_arr
		position: relative
		height: 40px
		+fb
		font-size: 12px
		text-transform: uppercase
		border-radius: 3px 0 0 3px
		&:after	
			content: ""
			position: absolute
			top: 0    
			right: -12px
			+s(btn-arr-orange)  
		&:hover
			&:after
				+sp(btn-arr-orange-h)
		&:active
			&:after
				+sp(btn-arr-orange-act)   


.cart-item
	+clr
	padding: 22px 0 
	border-bottom: 1px solid #e7e7e7 
.cart-item__img
	float: left
	margin-right: 10px
	width: 67px
	text-align: left
	overflow: hidden
	img 
		vertical-align: middle
		max-width: 100%

.cart-item__info
	overflow: hidden
	+fb
	a
		text-transform: uppercase
		color: $orange
		font-size: 11px
	span 
		display: block
		font-size: 14px
.price
	color: #000
	font-size: 18px
	+fb
	text-align: center 
.old-price
	font-size: 14px
	color: #c3c3c3
	+fb 
	span
		display: inline-block
		position: relative
		&:before
			content: ""
			position: absolute
			top: 9px
			left: -2px
			right: -2px
			height: 1px
			background: $red  
			
.badge
	position: absolute
	line-height: 30px
	text-align: center
	font-weight: bold  
	font-size: 10px
	color: #fff 
.badge_new	
	right: 88px
	+s(badge-new)
.badge_discount
	right: 48px
	+s(badge-discount)
.badge_eco
	cursor: pointer
	right: 8px
	+s(badge-eco)

.tooltip
	display: none
	position: absolute
	top: auto
	margin: 0 0 0 14px
	z-index: 1000
	&.has-img
		margin-left: -62px
		padding-bottom: 13px
		.tooltip__in
			&:after
				content: ""
				position: absolute
				bottom: 5px
				left: 50%
				margin-left: -10px
				+arr(20,8,#fff,b)
			&:before
				content: ""
				position: absolute
				left: 50%
				bottom: 3px
				margin-left: -11px 
				+arr(22,10,rgba(#000,.3),b)
.tooltip__in
	padding: 3px 10px
	font-size: 11px
	color: #585858
	max-width: 255px
	+box
	background: #fff
	+box-shadow(0 1px 3px rgba(0,0,0,.54))
	
.tooltip__with-img
	padding: 14px 0 
	width: 148px
	+box
	text-align: center
	
.tooltip__img
	margin: 0 auto 10px 
	width: 118px
	height: 118px
	border-radius: 50%
	img
		width: 100%
		height: 100%
		border-radius: 50%


.soc
	font-size: 0
	a
		display: inline-block
		vertical-align: top
		margin-left: 18px
		+tr
		&:hover
			opacity: .8
.soc__vk
	+s(soc-vk)
.soc__fb
	+s(soc-fb)
.soc__tw
	+s(soc-tw) 

.counter
	text-align: center
.counter__title
	color: #a4a4a4
	font-size: 9px
	text-transform: uppercase 
.counter__main
	display: inline-block
	padding: 0 13px 
	white-space: nowrap
	background: #fff 
.counter__item
	+fb
	display: inline-block
	font-size: 24px
	color: #f22020     
	
.subscribe
	position: relative
	margin: 0 0 57px 
	width: 957px
	background: #f48729
	&:before,
	&:after
		content: "" 
		position: absolute
		right: -22px
	&:before
		top: 0
		+arr(41,22,#f6983d,bl)
	&:after
		bottom: 0 
		+arr(22,39,#f48729,tl)  
.subscribe_finish
	background: #68af14 
	&:before
		+arr(41,22,#7bbb22,bl)
	&:after
		+arr(22,39,#68af14,tl) 
	.subscribe__in
		&:before
			background: #7bbb22
	.subscribe__text
		width: 570px
		+text-shadow(0 1px 2px rgba(54,89,12,.75))
	.subscribe__icon
		+s(letter2) 
.subscribe__in
	position: relative
	padding: 0 0 0 23px 
	z-index: 2
	height: 80px
	line-height: 80px
	font-size: 0
	&:before
		content: ""
		position: absolute
		height: 40px
		top: 1px
		left: 0
		right: 0 
		z-index: -1
		background: #f6983d
.subscribe__text,
.subscribe__icon,
.subscribe__input,
.subscribe__btn
	display: inline-block
	vertical-align: middle
	line-height: 1
.subscribe__text
	margin: -4px 7px 0 28px 
	width: 335px
	font-size: 20px
	color: #fff
	line-height: 24px  
	+fb
	text-shadow: 0 1px 2px rgba(186,70,17,.75)
	em
		font-style: normal
		+fbi
.subscribe__icon
	+s(letter)  
.subscribe__input
	margin-right: 11px
	padding: 0 12px 
	width: 175px
	height: 37px
	+border-radius(3px)
	background: #d57523
	font-size: 18px
	color: $black 
	+box
	+box-shadow(0 1px 0 rgba(255,255,255,.23), inset 0 1px 3px rgba(0,0,0,.47))
	+placeholder
		color: #fff 
		+fb
		text-shadow: 0 1px 2px rgba(186,70,17,.75)
	&:hover
		background: #f37f1b 
	&:focus
		background: #fff 
		+placeholder
			+hide-text
.subscribe__email
	font-size: 24px
	+placeholder
		font-size: 24px
.subscribe__btn
	position: relative
	width: 120px
	height: 37px
	border-radius: 3px 0 0 3px
	background: #e2e2e2
	font-size: 12px
	+fb
	text-transform: uppercase
	+box-shadow(0 1px 3px rgba(62,48,12,.22))
	+g(#fbfbfb,#e2e2e2)
	&:hover
		background: #fefefe 
		+g(#ddd,#fefefe)  
		&:after
			+s(btn-arr-h)
	&:active
		background: #ddd 
		&:after
			+s(btn-arr-act)
	&:after  
		content: ""
		position: absolute 
		top: 0
		right: -10px
		+s(btn-arr)

.select
	font-size: 13px
	select
		display: block
		width: 100%
		+box
.checkbox-wrap
	margin: 6px 0 
.checkbox
	color: #575652
	font-size: 12px
	font-style: italic
	input,span
		display: inline-block
		vertical-align: middle
		width: auto
	a
		color: #575652
		text-decoration: none
		border-bottom: 1px dotted
	input
		margin-right: 8px
	.input
		width: 36px
		margin-left: 8px
.checkbox_normal
	font-style: normal
.choose
	height: 15px
	input,button
		display: inline-block
		vertical-align: middle
.choose__input
	padding: 0 5px 
	width: 36px
	font-size: 14px 
	+box
	text-align: center
.choose__plus,
.choose__minus
	position: relative
	width: 14px
	height: 14px
	border: 1px solid rgba(79,79,79,.5)
	border-radius: 3px
	+box-shadow(inset 0 0 0 1px rgba(255,255,255,.11))
	+background-image(linear-gradient(bottom, #ededed 0%, #ebebeb 54.13%, #f3f3f3 55.74%, #fff 100%))
	+tr
	&:before,
	&:after
		background: #474747  
	&:before
		content: "" 
		position: absolute
		top: 5px
		left: 2px
		width: 8px
		height: 2px
		+tr
		
.choose__plus
	&:after
		content: ""
		position: absolute
		top: 2px
		left: 5px
		height: 8px
		width: 2px
		+tr

.rating
	white-space: nowrap
	font-size: 0
	img
		margin-right: 7px
.rating__in,
.rating__text  
	display: inline-block
	vertical-align: middle
.rating__text  
	font-size: 11px
	color: #949494
	font-style: italic 

.radio-box-wrap
	padding-top: 23px
	margin: 0 -50px 0 0
	.btn
		margin: 20px 0 0 22px
.radio-box
	position: relative
	display: inline-block
	margin-right: 35px
	width: 245px
	vertical-align: top
	padding: 14px 22px 26px
	+clr
	+box
	i
		position: absolute
		display: none
		top: -14px
		right: -22px
		bottom: -26px
		left: -22px
		background: #f3fae2   
		z-index: -1
	.radio
		display: block
		position: relative
		padding-left: 25px
	input
		position: absolute
		top: 5px
		left: 0
		&:checked
			+ i
				display: block
.radio-box_bonus
	i
		background: #fef1bb 
	.price
		margin: 15px 0 
		text-align: left
		font-size: 26px
		color: $orange 
.radio
	display: inline-block
	color: #818181 
	line-height: 20px
	input,
	strong
		display: inline-block
		vertical-align: middle
	span
		display: block
	input
		width: auto
		margin-right: 5px
	strong
		color: $black 
		
.btn-copy
	position: relative
	display: inline-block
	padding: 0 14px 0 36px 
	height: 25px
	line-height: 23px
	border: 1px solid #d8d8d8
	border-radius: 2px
	text-decoration: none
	font-size: 12px
	color: #3c3c3c
	font-weight: bold 
	background: #f3f3f3
	+g(#fefefe,#e8e8e8)
	+box-shadow(0 1px 2px rgba(#000, .4))
	&:before
		content: ""
		position: absolute
		top: 5px
		left: 12px
		+s(copy) 
	&:hover
		+box-shadow(none)
	&:active
		background: #e8e8e8 
		
.color
	width: 45px
	height: 45px
	cursor: pointer
	&:hover
		&:before
			content: ""
			position: absolute
			top: 0
			right: 0
			left: 0
			bottom: 0
			z-index: 2
			border-radius: 50%
			border: 4px solid $red 
	img
		width: 100%
		height: 100%
		border-radius: 50%
.progress
	position: relative
	height: 4px
	border: 1px solid $border
	span
		position: absolute
		top: 0
		left: 0
		bottom: 0
		background: #7db919
		+background-image(linear-gradient(top,#b8da24 25%, #a0cd20 50%, #7eba19 75%, #5ca712))
