.main
	padding-bottom: 75px
.article
	padding: 0 25px 0 0 
	font-size: 12px
	line-height: 20px
	color: #575652 
	span
		color: $orange 
	h1,h2,h3,h4,h5,h6   
		color: $black
	h1
		font-size: 24px
		margin: 32px 0 24px
	h2
		font-size: 20px
		margin: 60px 0 22px
		+ p
			color: $black 
			strong
				font-size: 14px
		&:first-child
			margin-top: 30px
	h3
		font-size: 18px
		margin: 28px 0 20px
	h4
		font-size: 16px
		margin: 26px 0 18px
	h5
		font-size: 14px
		margin: 24px 0 16px
	h6
		font-size: 12px
		margin: 22px 0 14px
	img
		margin: 10px 0 27px   
		max-width: 100%  
		height: auto
		border-radius: 5px	
	th
		padding: 3px 0 3px 30px 
		font-size: 14px
		color: $black 
		background: #f8f6f0 
		text-align: left
		vertical-align: middle
		&:first-child  
			border-radius: 5px 0 0 5px
		&:last-child
			padding: 3px 30px 3px 10px 
			border-radius: 0 5px 5px 0
	td
		padding: 10px 0 10px 30px 
		//width: 33% 
		&:last-child      
			text-align: center
	tr
		&:nth-child(2n)
			td
				background: #f8f6f0 
				&:first-child
					border-radius: 5px 0 0 5px
				&:last-child
					border-radius: 0 5px 5px 0
	ul
		margin-bottom: 30px
		li
			position: relative
			padding-left: 50px
			&:before
				content: ""
				position: absolute
				left: 20px
				top: 6px
				width: 6px
				height: 6px
				background: $orange 
				border-radius: 50%  
	ol
		margin-bottom: 30px
		counter-reset: list2
		li
			position: relative
			padding-left: 50px
			&:before
				content: ""
				position: absolute
				left: 20px
				top: 0
				font-size: 12px
				font-weight: bold
				color: $orange  
				counter-increment: list2  
				content: counter(list2) ". "
.article_offerta
	ol
		margin: 50px 0 30px
		counter-reset: list3
		
		li
			position: relative
			margin-bottom: 25px
			padding-left: 50px
			text-transform: uppercase
			font-size: 14px
			color: $black 
			+fb
			&:before
				content: ""
				position: absolute
				left: 20px
				top: 0
				font-size: 14px
				+fb 
				color: $black 
				counter-increment: list3 
				content: counter(list3) ". "
		ol
			counter-reset: list4
			margin: 25px 0 0 -30px
			li
				text-transform: none
				padding-left: 32px
				font-size: 12px
				color: #575652
				font-family: Arial,sans-serif 
				&:before
					content: "" 
					position: absolute
					left: 0
					top: 0
					font-size: 12px  
					font-weight: bold
					color: $orange  
					font-family: Arial,sans-serif 
					counter-increment: list4
					content: counter(list3) "." counter(list4) ". "
.note
	border-top: 1px solid #f8f6f0 
	padding: 10px 0 0 30px
	font-style: italic
	font-size: 12px
	color: #818181 
				
.list-col
	counter-reset: list1
	+clr
	li
		position: relative
		margin-bottom: 4px
		float: left
		padding-left: 20px
		width: 31%
		margin-left: 2%
		+box
		&:first-child,
		&:nth-child(3n+1)
			margin-left: 0
		&:before
			content: ""
			position: absolute
			left: 0
			top: 0
			font-size: 14px
			font-weight: bold
			color: $orange  
			counter-increment: list1  
			content: counter(list1) ". "
.breadcrumbs
	margin: 0 0 30px 0 
	//padding-left: 25px
	a
		display: inline-block
		margin-left: 46px
		position: relative
		font-size: 14px
		&:first-child
			margin-left: 0
			&:before
				display: none
		&:before
			content: ""
			position: absolute
			left: -27px
			top: 6px
			+s(arr6) 
.page-top
	margin: 30px 0 20px
	border-bottom: 1px solid #e7e7e7 
	padding: 0 0 10px 25px
	color: #575652
	line-height: 20px
	font-size: 12px
	+clr
	
	p
		clear: both
		margin-bottom: 20px
.page-top_no-border
	border-bottom: 0
.title
	float: left
	margin-bottom: 20px
	font-weight: normal
	+fb
	font-size: 30px
	color: $black 
.title-h2
	margin: 45px 0 18px
	font-weight: normal
	+fb
	font-size: 20px
	color: $black 
.print-link
	float: right
	margin: 10px 0 0 27px
	position: relative
	line-height: 1
	text-decoration: none
	color: #34332e 
	border-bottom: 1px dotted
	&:before
		content: ""
		position: absolute
		left: -27px
		top: 0
		+s(print) 
	&:hover
		color: $orange
		&:before
			+sp(print-h)
.article
	font-size: 12px
	color: #575652
	line-height: 20px
	p
		margin-bottom: 19px
		&:first-child
			strong
				font-size: 14px
				color: $black 
.article__title
	margin-bottom: 21px
	font-size: 20px
	+fb
	color: $black  
.article__more
	font-size: 12px
	+fb
	text-transform: uppercase
	color: $orange 
	
.table
	margin-bottom: 48px
	border: 1px solid $border
	border-radius: 6px 
	border-collapse: separate
	thead
		background: #f5f2e9
		font-size: 12px
		color: #6e6855
	th
		font-weight: normal 
		padding: 18px 0
		text-align: left
		&:first-child
			text-align: center
	td
		position: relative
		left: 0
		padding: 20px 0 
		border-top: 1px solid $border 
		vertical-align: middle
		+tr
		&:first-child
			text-align: center
	.is-remove-ready
		td
			left: -300px
			+opacity(0)
	.price
		text-align: left
	.to-center  
		text-align: center
	.to-right  
		text-align: right
.basket-item
	width: 150px
	a
		font-size: 12px
		text-transform: uppercase
		+fb
.btn-del
	+s(del)
.promocode
	padding-right: 20px
	span,
	.field
		display: inline-block
		vertical-align: middle
	span
		margin-right: 11px
		color: #64482a
		font-size: 12px
		font-weight: bold 
	.field
		width: 145px
		margin: 0
	input
		height: 27px
		border-radius: 3px
	.btn
		position: absolute
		top: 2px
		right: 2px
		padding: 0 
		width: 57px
		height: 23px
		line-height: 23px
		font-size: 12px
		font-family: Arial 
		+box-shadow(none)
.promocode_message
	padding-right: 31px
	span,strong,button
		display: inline-block
		vertical-align: middle
	span
		color: #8ec21c 
		position: relative
		&:before
			content: ""
			position: absolute
			left: -17px
			top: 3px
			+s(arr-green) 
	strong
		font-weight: normal
		+fb	
		font-size: 18px
	button
		margin-left: 8px
		
.cart-info
	color: #64482a 
	.btn
		margin-bottom: 12px
		width: 100% 
		text-align: center
.cart-info__price
	margin-bottom: 9px
	font-size: 14px
	white-space: nowrap
.cart-info__meta
	font-style: italic
	li
		margin-bottom: 6px
		&:last-child
			margin-bottom: 0
	span
		font-style: normal
		color: $orange
		font-size: 16px
		font-weight: bold 
.cart-info__value
	margin-bottom: -8px
	font-size: 16px
	line-height: 1.3
	text-align: center
	.price
		font-size: 30px
		
.your-bonus
	margin: 16px 0 
	padding: 10px 25px 15px
	border: 1px solid #e7e7e7
	border-radius: 6px
	background: #f5f1e9
	text-align: center
	span
		display: block
		font-size: 18px
		color: $orange
		+fb
	em
		color: #969696 

.btn-begin-buy
	margin: 50px 0     
.page-in
	padding: 0 25px 25px
	+clr
	+ .pagination
		padding-top: 20px
		border-top: 1px solid $border 
.gallery
	float: left
	margin-bottom: 42px
	width: 445px
.gallery__img
	position: relative
	width: 440px  
	a
		display: block
		height: 340px
		line-height: 340px
		overflow: hidden
	img
		max-width: 100%
		vertical-align: middle
	.badge-wrap
		position: absolute
		top: 0
		right: 0
		z-index: 2
.gallery__zoom
	position: absolute
	top: 0
	left: 0
	+s(zoom)
.gallery__preview
	padding: 18px 0 
	width: 410px
	overflow-y: hidden
	overflow-x: auto
	white-space: nowrap
	font-size: 0
	+scrollbar
		width: 5px
		height: 5px
		+border-radius(2px)
		background: #ededed
	+scrollbar-thumb
		background: #c9c9c9
		+border-radius(2px)
	+scrollbar-track-piece     
		width: 5px 
		+border-radius(2px)
	a
		display: inline-block
		margin-left: 15px
		border: 1px solid #e7e7e7
		width: 68px
		height: 68px
		text-align: center
		line-height: 68px
		vertical-align: middle
		+box
		&:first-child
			margin-left: 2px
		&.is-active
			border-color: #fa0a0a
			+box-shadow(0 0 0 2px #fa0a0a)
		img
			vertical-align: middle
			max-width: 100%
			max-height: 100%
			height: auto
.prod
	float: right
	margin-bottom: 10px
	width: 275px
	border: 1px solid #e6e5e0
	border-radius: 10px
	background: #fef7dc
	overflow: hidden
	.slick-slider  
		margin: 12px auto
		width: 180px
	.slick-slide 
		width: 45px !important
		height: 45px
		margin-left: 15px
	.slick-disabled
		opacity: .3 
	.slick-prev,
	.slick-next,
		position: absolute
		top: 17px
	.slick-prev
		+s(arr9)
		left: -18px
	.slick-next
		+s(arr10)
		right: -32px
.prod__head
	background: #f6f5f0 
.prod__meta
	border-bottom: 1px solid #fff
	+box-shadow(inset 0 -1px 0 #e7e7e7) 
	padding: 20px 35px 17px 23px 
	+clr
	color: #545453 
.prod__state
	position: relative
	float: left
	padding-left: 24px
	font-weight: bold
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0 
	&.is-order
		color: $orange 
		&:before
			+s(clock)
	&.is-available
		color: #64ac13
		&:before 
			+s(status-done)

.prod__delivery
	float: right
	font-size: 11px
.prod__param-title
	margin-bottom: 4px
	font-size: 12px
	font-weight: bold
	span
		font-style: normal
		display: inline-block
		margin-right: 10px 
.prod__param
	padding: 15px 25px 
	border-bottom: 1px solid #fff
	+box-shadow(inset 0 -1px 0 #e7e7e7) 
	.radio
		width: 50%
		float: left
.prod__item
	+clr
	padding-left: 20px
.prod__price
	padding: 7px 0 14px
	text-align: center
	.old-price
		font-weight: normal
		font-size: 12px
		color: #c2bb9f 
		font-family: Arial,sans-serif 
		span
			&:before
				top: 7px
	.btn
		margin-bottom: 20px
.prod__sum
	font-size: 30px
	color: #000
	+fb 
.buy-click
	position: relative
	color: $orange
	margin-left: 25px
	text-decoration: none
	border-bottom: 1px dotted 
	&:before 
		content: ""
		position: absolute
		top: 0  
		left: -25px 
		+s(hand)
.search
	position: relative 
	margin-bottom: 15px
	&.is-active
		.search__input
			padding-left: 40px
			border-color: $orange
			+ .search__btn
				+s(glass-h)
		.btn-del
			display: block
	.btn-del
		display: none
		position: absolute
		left: 15px
		top: 9px
.search_fixed-width
	width: 640px
.search__input
	display: block
	padding: 0 20px
	height: 31px
	width: 100%	
	border: 2px solid #141414
	border-radius: 17px
	background: #fff
	+box
	&:focus,
	&.is-active
		border-color: $orange
		+ .search__btn
			+s(glass-h)
	&.is-active
		padding-left: 40px
	+placeholder
		color: #a1a1a1
		font-size: 12px
		font-style: italic 
	
.search__btn
	position: absolute
	top: 9px
	right: 14px
	+s(glass-black)
	+hide-text


.symbols
	margin-bottom: 34px
	line-height: 24px
	letter-spacing: 1px 
	a
		font-size: 12px
		font-weight: bold
		text-decoration: none
		color: #5c584b
		text-transform: uppercase
		&:hover
			color: $orange 
.symbols__group
	margin-left: 14px
	display: inline
	&:first-child
		margin-left: 0
		
.search-result
	margin-right: -35px
	font-size: 0
.search-list
	display: inline-block
	vertical-align: top
	margin: 0 30px 65px 0
	width: 205px
	font-size: 12px
	+clr
	ul
		width: 75px     
		line-height: 24px
		margin: 14px 0
		a
			color: #5c584b
			font-size: 12px
			&:hover
				color: $orange 
.search-list__col
	float: left 
	margin-right: 30px
	&:last-child
		margin-right: 0
.search-list__symbol
	margin-bottom: 20px
	border-bottom: 1px solid $border
	padding: 0 0 3px 20px
	a
		+fb
		font-size: 20px
		color: $orange  
		text-decoration: none
.search-list__in
	padding: 0 0 0 20px 
	+clr
.search-list__title
	margin: 20px 0 14px
	&:first-child
		margin-top: 0
	a
		font-size: 14px
		+fb
		text-transform: uppercase
		color: $black 
		&:hover
			color: $orange 
			
.serch-result-text
	margin: 30px 0
	font-size: 14px
	p
		margin-bottom: 12px
	span
		color: $orange 
	em
		font-size: 12px
		color: #676767 
	.link-prev
		margin-top: 65px

.delivery-logo
	text-align: justify
	&:after
		content: ""
		display: inline-block
		width: 100%
		height: 0 
	a
		display: inline-block
		vertical-align: middle
.map
	position: relative 
.map__body
	height: 335px
	overflow: hidden
	border-radius: 5px
.ymaps-map
	position: relative
	overflow: hidden
	border-radius: 5px
.ymaps-copyright
	display: none !important
.map__popup
	position: absolute
	z-index: 300
	bottom: 10px
	right: 10px
	padding: 20px 
	width: 208px
	+box
	border: 1px solid #b5b5b5
	border-radius: 6px
	p
		margin-bottom: 5px
	background: #fff
	input
		+box
		padding: 0 10px 
		width: 100%
		height: 29px
		border: 1px solid #ddc097
		background: #fff

.map__popup-title
	display: block
	margin-bottom: 5px
	font-size: 12px
	+fb
	text-transform: uppercase
	color: $black 
	line-height: 18px
// .ymaps-balloon
// 	border-radius: 10px
// 	overflow: hidden
// 	border: 1px solid $border	
// 	+box-shadow(none)
.map__info
	padding: 0 10px 
	font-size: 11px
	line-height: 18px
.map__info-title
	margin-bottom: 10px
	font-size: 18px
	color: $black
	+fb	 
.wtf
	position: relative
	margin: 21px 0 0 26px
	padding-left: 24px
	&:before
		content: ""
		position: absolute
		left: 0 
		top: 0px
		+s(wtf)  
	strong
		margin-left: 20px
	p
		margin-bottom: 5px
		
.fancy-img-link
	display: inline-block
	margin-left: 12px
	border: 1px solid #e7e7e7
	width: 68px
	height: 68px
	text-align: center
	line-height: 68px
	vertical-align: middle
	+box-sizing(border-box)
	+tr
	&:hover
		border-color: #bbb 
	&:first-child
		margin-left: 0
	&.is-active
		border-color: #fa0a0a
		+box-shadow(0 0 0 2px #fa0a0a)
	img
		vertical-align: middle
		max-width: 100%
		max-height: 100%
		height: auto

.comment-title
	font-size: 20px
	margin: 40px 0 22px
	&:first-child
		margin-top: 30px		
.comment
	margin-bottom: 40px
	border-bottom: 1px solid $border 
	padding-bottom: 10px
	font-size: 12px
	color: #575652 
	&:last-child
		border: 0
		margin-bottom: 0
	.rating
		margin: 12px 0 
.comment_post
	margin-bottom: 33px
	.comment__text
		padding: 10px 20px 
		background: #f6f4ee

.comment__user
	font-size: 16px
	font-weight: bold
	color: $black
	text-decoration: none
	&:hover
		color: $orange 
.comment__meta
	color: #949393
	font-size: 12px 
.comment__text
	margin: 10px 0 16px
.comment__img
	margin: 10px 0 24px 
.comment__answer
	position: relative
	margin: 0 50px 15px
	&:before
		content: ""
		position: absolute
		top: 0
		left: -30px
		+s(answer) 
	span
		display: block
		margin-bottom: 3px
		font-size: 14px
		font-weight: bold
		color: $black 
.add-comment
	margin: 40px 0 45px 
	+clr
	.btn
		float: left
	.pagination
		float: right

.posts-wrap
	margin-bottom: 18px
	border-bottom: 1px solid #e7e7e7 
	margin-right: -30px
	font-size: 0	
.post
	display: inline-block
	margin: 0 25px 50px 0 
	vertical-align: top
	width: 325px
	overflow: hidden
	font-size: 12px
.post_width
	width: 100%
	+clr
	.post__img
		float: left
		margin-right: 25px
		width: 430px
	.post__main
		position: relative
		top: -12px
		overflow: hidden
.post__img
	overflow: hidden
	img
		border-radius: 5px
		+tr
		max-width: 100%
		height: auto
		&:hover
			opacity: .5 
.date	
	display: block
	margin: 8px 0 
	color: #bfbeb8
	font-size: 12px 
.post__title
	font-size: 12px
	+fb
	text-transform: uppercase
.post__info
	margin: 10px 0 
.meta-info
	padding: 5px 0 
	border-top: 1px solid $border
	color: #666  
	span,a
		color: #abaaaa 
	a
		font-style: italic


.pay
	display: inline-block
	margin: 25px 0 15px  
	padding: 0 45px
	width: 240px
	color: #575652 
	vertical-align: top
.pay__icon
	margin: 0 0 25px 
	height: 66px
	text-align: center
	i
		display: inline-block
		vertical-align: top
.icon-card
	+s(pay-card)
.icon-credit
	+s(pay-credit)
.icon-cash
	+s(pay-cash)
.icon-bank
	+s(pay-bank)
.pay__title
	margin: 0 0 22px -17px
	font-size: 14px
	color: $black
	font-weight: bold
	text-transform: uppercase 
	span
		display: inline-block
		position: relative
		left: -8px
.pay__info
	p
		margin: 0 0 25px 
		

.vacancy
	margin-bottom: 85px
	border-bottom: 1px solid $border    
.vacancy__top
	+clr
	.date
		float: left
.vacancy__badge	
	position: relative
	float: right
	color: #f00 
	&:before
		content: ""
		position: absolute
		left: -18px
		top: 0  
		+s(important)      
.vacancy___table
	tr
		&:first-child
			td
				padding-left: 0
				+fb
				font-size: 20px
				line-height: 24px
	td
		text-align: left
		padding: 25px 0 25px 30px 
		&:first-child
			font-size: 14px
			font-weight: bold
			color: $black 
		&:last-child
			text-align: left
.vacancy__contacts
	padding: 33px 0 
	font-size: 12px
	color: #818181
	font-style: italic 
	p
		margin-bottom: 3px
	strong
		font-weight: bold
		font-style: normal
		color: $black 

.contact-wrap
	margin-right: -150px	
.contact
	display: inline-block
	margin: 0 155px 34px 0
	vertical-align: top
	width: 250px
	color: #575652 
	line-height: 24px
	ul
		margin: 7px 0 
		strong
			color: $black 
.contact__title
	margin-bottom: 11px
	font-size: 20px
	+fb
	color: $black 
.icon-clock,
.icon-tel
	display: inline-block
	margin-right: 10px
.icon-clock
	+s(clock)
.icon-tel
	+s(phone)
.map-link
	display: inline-block
	position: relative 
	margin-left: 16px
	color: #a3a3a3
	font-size: 11px 
	&:before
		content: ""
		position: absolute
		left: -16px
		top: 7px
		+s(glass-s)  
		

.order
	margin: 0 0 40px 
	border: 1px solid #e7e7e7
	border-radius: 6px
	background: #fff
	overflow: hidden
	&.is-finished
		.order__head
			background: #e7fdcb
		.status
			color: #72b416 
			&:before
				top: 6px
				left: -25px
				+s(status-done)	
	&.is-received
		.order__head
			background: #fef9a3
		.status
			color: #ffb400
			&:before
				top: 4px
				left: -28px
				+s(status-received)
	&.is-canceled
		.order__head
			background: #fee3e1
		.status
			color: #ff271c
			&:before
				top: 4px
				left: -28px
				+s(stutus-cancel)


.order__head
	border-bottom: 1px solid $border 
	padding: 12px 25px 
	+clr
	.status
		float: right
.order__title
	float: left
	max-width: 460px
	font-size: 20px
	+fm
.order__body
	padding: 20px 
.order__table
	font-size: 12px
	thead
		border-bottom: 1px solid $border 
	tbody
		border-bottom: 1px solid $border 
		tr
			&:first-child
				td
					padding-top: 13px
			&:last-child
				td
					padding-bottom: 13px
	th
		padding: 7px 0 
		text-align: left
		font-weight: normal
		color: #6e6855  
		vertical-align: middle
	td
		padding: 5px 0
		&:first-child
			padding-left: 5px
	a
		font-size: 11px
		+fb
		text-transform: uppercase
	strong
		font-weight: normal
		+fb
		font-size: 14px
.status
	position: relative
	font-size: 20px
	+fm
	&:before
		content: ""
		position: absolute
	&.is-done
		color: #72b416 
		&:before
			top: 6px
			left: -25px
			+s(status-done)
	&.is-received
		color: #ffb400
		&:before
			top: 4px
			left: -28px
			+s(status-received)
	&.is-canceled
		color: #ff271c
		&:before
			top: 4px
			left: -28px
			+s(stutus-cancel)
   
.order__promocode
	float: left
	padding: 13px 0 0
	color: #6e6855
	span
		color: $black 
.order__sum
	padding: 13px 0 0 
	float: right
	text-align: right
	font-size: 14px
	span
		+fb 
	ul
		margin: 15px 0
		font-size: 12px
		color: #64482a
		font-style: italic
		strong
			font-size: 14px
			color: $orange
			font-style: normal 
.order__total
	margin-bottom: 13px
	padding: 7px 0 0 
	width: 285px
	border-top: 1px solid $border 
	span
		font-size: 20px
.order__status
	float: left
	padding: 0 20px 
	height: 28px
	line-height: 28px
	color: #64482a
	font-size: 12px
	text-transform: uppercase
	+fb
	border-radius: 13px
	background: #fdf1bb
	&.is-inactive
		background: #e5e5e5 
.order__more
	float: right
	margin-top: 6px
	a
		border-bottom: 1px dashed 
		color: $orange 
		text-decoration: none
.order__less 
	display: none
	float: right
	margin-top: 6px
	a
		border-bottom: 1px dashed 
		color: #949494 
		text-decoration: none
.order__info
	display: none
	th
		padding: 6px 20px 
		font-size: 20px
		+fm
		text-align: left
		font-weight: normal
		background: #f5f1e9
	td
		padding: 17px 20px
		&:first-child
			font-size: 14px
			+fb   
			text-transform: uppercase
		strong
			display: block
			margin-bottom: 7px
	tbody
		tr
			&:first-child	
				td
					padding: 31px 20px 17px 

.form-info
	float: left
	width: 310px
	.field
		margin-bottom: 42px
	.btn
		padding: 0 35px 
.profile-connect
	float: right
	margin-right: 30px
	width: 200px
	line-height: 20px
	font-size: 12px
	color: #5d5d5d 
	a,  
	span
		display: inline-block   
		margin-right: 16px 
		vertical-align: middle 
	p
		margin-bottom: 12px
.profile-connect__fb
	+s(connect-fb)
.profile-connect__vk
	+s(connect-vk) 
.bonus-link
	margin: 52px 0 
	text-align: center
	a
		font-weight: bold
		font-size: 36px
		color: $orange
		text-decoration: none
		border-bottom: 3px solid  
		&:hover
			border-bottom-color: transparent 
	
.order-info  
	margin-bottom: 23px
	.wrapper_radio
		margin-left: -22px
	&.is-inactive
		margin-bottom: 3px
		.order-info__main
			display: none
		.order-info__top
			height: 52px
			line-height: 52px
			border-radius: 5px
			background: #f5f1e9
		.order-info__title
			color: #a6a6a6 
.order-info__top
	+clr
	.link-edit
		float: right
.order-info__title
	position: relative
	padding: 0 25px 
	float: left
	font-size: 20px
	+fb
	color: $black 
	i
		display: inline-block
		margin-right: 5px
		+s(status-done)
.link-edit
	position: relative
	font-size: 12px
	color: #5c584b
	text-decoration: none
	line-height: 1
	border-bottom: 1px solid   
	&:before
		content: ""
		position: absolute
		left: -15px
		top: 1px
		+s(pencil) 
	&:hover
		border-bottom-color: transparent 
.order-info__main
	padding: 0 48px 35px
	border-bottom: 1px solid $border 
	ul
		font-style: italic
		line-height: 18px
		strong
			color: $black
			font-style: normal 
			
.order-submit
	padding: 0 25px 0 50px
	+clr
	.checkbox
		float: right
		&:first-child
			float: left
.order-submit_mod
	margin-top: 33px
.order-submit__info
	margin: 27px 0 32px 
	color: $orange
	font-style: italic 

	
.order-info__form
	margin-top: 25px
	width: 310px
	.field__el
		label
			position: absolute
			top: 7px
			left: 110%
			white-space: nowrap
	.field_with-message
		position: relative 
		width: 500px
		+clr
		.field__message
			position: absolute
			top: 0
			right: 0
			width: 160px
.order-finish
	margin: 0 auto 37px
	padding: 27px 88px 50px 
	width: 795px
	border: 1px solid #d3f1bf
	border-radius: 6px
	background: #edffe1
	text-align: center
	+box
	em
		display: block
		color: #575652 
	strong
		font-size: 20px
	.wtf
		display: inline-block
		margin-bottom: 7px
		color: $orange 
	.btn
		margin-top: 14px
.order-finish__title
	margin-bottom: 17px
	font-size: 20px
	+fb
	color: #000 
	a
		color: $orange
		text-decoration: none
		border-bottom: 1px dotted 
		&:hover
			border-color: transparent 
.order-finish_invite
	background: #fff1bd
	border-color: #ebdfa7
	.social
		margin-top: 38px 
.order-finish__invite
	margin: 36px 0 00 
	padding: 16px 22px 16px 45px 
	background: #fff 
	text-align: left
	border-radius: 7px
	+clr
	span
		float: left
		font-size: 28px
		font-weight: bold
		color: $orange 
	.btn-copy
		float: right
		margin-top: 5px

.tab-simple
	margin-top: 23px
	clear: both
	overflow: hidden
	li
		float: left
		margin-right: -15px
		position: relative
		&:nth-child(6)
			z-index: 1
		&:nth-child(5)
			z-index: 2
		&:nth-child(4)
			z-index: 3
		&:nth-child(3)
			z-index: 4
		&:nth-child(2)
			z-index: 5
		&:nth-child(1)
			z-index: 6
		&.is-active
			z-index: 30
			a
				+fb
			&:first-child
				&:before
					display: none
			&:after
				content: ""
				position: absolute
				right: -2px
				bottom: 0
				width: 5px
				height: 13px
				background: #fff  
			&:before
				content: ""
				position: absolute
				left: -2px
				bottom: 0
				width: 5px
				height: 13px
				background: #fff 
			a
				background: #fff
				border-bottom-color: #fff
			span
				border-color: transparent 
	a
		display: block
		padding: 0 30px
		height: 54px
		line-height: 40px
		border: 1px solid #e3e3e3
		border-radius: 10px 10px 0 0
		background: #f7f7f7
		+background-image(linear-gradient(bottom, #f5f1e9 0%, #fff 100%))
		font-size: 20px
		color: #000
		+fm 
		+box
		text-decoration: none
		&:hover
			span
				border-color: transparent 
	span
		border-bottom: 1px dotted 
		
.tab-content
	position: relative
	z-index: 20
	margin-top: -14px
	border: 1px solid #e4e4e4
	padding: 35px 
	background: #fff 
	border-radius: 10px
	overflow: hidden
.prod-descr
	color: #575652
	font-size: 12px
	line-height: 2
	ul
		margin-bottom: 30px
		strong
			color: $black 
	img
		float: right
.prod-descr__title
	font-weight: bold
	font-size: 16px
	color: $black
	margin-bottom: 10px 
.prod-param
	float: left
	margin-left: 22px
	width: 330px
	&:first-child
		margin-left: 0
	li
		display: table
		width: 332px
		border-bottom: 1px solid #f8f6f0  
		&:nth-child(2n+1)
			background: #f8f6f0 
	span,strong
		padding: 6px 17px
		display: table-cell
	span 
		text-align: right
		
.catalog-back
	margin-bottom: 50px
.kit-items
	position: relative
	margin: 100px 0 0 
	.slick-slider
		padding-top: 13px
		border: 2px solid #faca0a
		//height: 273px
		border-radius: 20px
		background: #fff
	.slick-slide  
		text-align: center
		//height: 255px
		.prod-title
			max-height: 100%
	.slick-dots
		position: absolute
		bottom: -7px
		left: 0
		right: 0
		z-index: 3
	.slick-list
		position: relative
		z-index: 2
		background: #fff 
		border-radius: 20px
	.slider-with-arr
		.slick-prev,
		.slick-next
			margin-top: -23px
			width: 54px
			height: 46px
			border-radius: 50% 
			background: #faca0a 
			+box-shadow(none)
			&:hover
				background: #faca0a 
			&:before
				display: none
			&:after
				top: 50%
				margin-top: -10px
		.slick-prev
			left: -21px
			&:after
				left: 5px
				+s(arr11)
		.slick-next
			right: -21px
			&:after
				right: 5px
				+s(arr12)
		
	.item
		float: none
		margin-left: 20px
		display: inline-block
		vertical-align: top
		height: auto
		min-height: 100px
		.item__img
			height: 120px
			line-height: 120px
			img
				display: inline-block
	.icon-plus,
	.icon-equ
		position: absolute
		top: 88px
		font-size: 36px
		color: #c0c0c0
		font-style: normal
		+fb 
	.icon-plus
		right: -20px
	.icon-equ
		right: -10px
.kit-items__title
	position: absolute
	left: 0
	right: 0
	top: -8px
	text-align: center
	font-size: 14px
	+fb
	z-index: 2
	text-transform: uppercase
	span
		display: inline-block
		padding: 0 30px
		background: #fff  
.kit-items__total
	margin-top: 24px
	padding: 20px 10px 28px 
	width: 210px
	border: 1px solid #eaeaea
	border-radius: 10px
	+box
	text-align: center
	background: #f5f5ef
.kit-items__price
	margin-bottom: 20px
	font-size: 24px
	+fb
.kit-items__discount
	position: relative
	margin-bottom: 13px
	padding: 7px 11px 
	font-size: 11px
	border: 1px solid #ebe5ca
	border-radius: 15px
	font-weight: bold
	color: #64482a 
	background: #ffeca4
	div
		display: inline-block
		vertical-align: middle
		line-height: 1.2
	&:after
		content: ""
		position: absolute
		left: 50%
		bottom: -7px
		z-index: 2
		margin-left: -5px
		+arr(12,7,#ffeca4,b) 
	&:before
		content: ""
		position: absolute
		left: 50%
		bottom: -8px
		margin-left: -7px
		+arr(14,8,#ebe5ca,b) 
	span
		color: $orange
	strong
		color: #ff2d0a 


.details
	margin: 47px auto 50px
	padding: 18px 0 20px
	border: 1px solid $border
	border-radius: 10px 
	width: 298px
	+box
	background: #f5f2e9
	text-align: center 
.details__title
	margin-bottom: 18px
	font-size: 20px
	+fb
.details__list
	margin-bottom: 27px
	font-size: 12px
	line-height: 2
	color: #575652
	strong
		color: #000 
		
.copy-link
	display: inline-block
	padding-left: 25px
	position: relative
	color: $orange
	text-decoration: none
	&:before
		content: ""
		position: absolute
		top: 0
		left: 0
		+s(copy-orange) 
	span
		border-bottom: 1px solid
	&:hover
		span
			border-color: transparent 