// default layout
.l-cols
	+clr
	.page-top,
	.breadcrumbs
		padding-left: 0
	.l-col1
		float: left
		width: 230px
	.l-col2
		float: right
		width: 675px
.l-cols2
	margin-bottom: 93px
	+clr
	.page-top,
	.breadcrumbs
		padding-left: 0
	.l-col1
		float: left
		width: 700px
	.l-col2
		float: right
		width: 235px
.l-cols3
	margin-bottom: 93px
	+clr
	.breadcrumbs  
		padding-left: 0
	.l-col1
		float: left
		width: 610px
	.l-col2
		float: right
		width: 330px
.l-cols4
	margin-bottom: 93px
	+clr
	.l-col1
		float: left
		width: 755px
	.l-col2
		float: right
		width: 205px
.l-center
	width: 980px
	margin: 0 auto
	+clr