.sidebar
	.item_action
		margin-top: 66px
	.link-prev
		margin-top: 22px
.item-nav
	padding: 0 7px 
.item-nav__title
	margin-bottom: 8px
	padding: 6px 17px 5px
	font-size: 14px
	+fb
	text-transform: uppercase
	background: #fff1b9 
	+border-radius(14px)
	letter-spacing: .5px 
.item-nav__list
	padding-left: 32px
	line-height: 24px
	a
		color: #5c584b
		font-size: 12px  
		&:hover
			color: $orange 
	ul
		margin-left: 10px
	.is-active
		a
			color: $orange
			text-decoration: none
			font-weight: bold 
.sidebar__in
	padding: 0 15px 

.box
	border: 1px solid #e0dcd0
	border-radius: 10px
	background: #f5f5ef	
.box__item
	border-bottom: 1px solid #fcfcfa 
	padding: 14px 20px 20px
	+box-shadow(inset 0 -1px 0 #e7e7e7)
	&:last-child
		border-bottom: 0   
		+box-shadow(none)
.box_yellow
	background: #fff1b9
.filter 
	margin-top: 65px
.filter__main-title
	font-size: 14px
	+fb
	text-transform: uppercase
.filter__header
	border-radius: 10px 10px 0 0
	padding: 17px 0 0
	background: #fff1b9
	+box-shadow(0 1px 0 rgba(255,255,255,.48))
	.box__item
		border-bottom: 1px solid #fcfcfa 
		+box-shadow(inset 0 -1px 0 #e7e7e7)
.filter__title
	margin-bottom: 8px
.filter__footer
	padding: 25px 20px 
	text-align: center
	.btn
		margin-bottom: 24px
		width: 100%
.btn-reset
	background: none
	color: #c3c3c2 
	font-size: 12px
	&:hover
		span
			border-bottom-color: transparent
	i,span
		display: inline-block
		vertical-align: middle
	span
		border-bottom: 1px solid 
	i
		margin-right: 7px
		+s(del)

.sidebar-menu
	padding: 23px 10px 23px 38px 
	border-radius: 5px
	background: #f5f1e9
	line-height: 24px
.menu-title
	margin-bottom: 11px
	line-height: 20px    
	&.is-active
		a
			color: $orange
			text-decoration: none 
	a
		color: $black
		font-size: 14px
		+fb
		text-transform: uppercase
		&:hover
			color: $orange
			text-decoration: none 
.menu
	margin-bottom: 25px
	.is-active
		a
			color: $orange
			text-decoration: none 
	a
		color: #5c584b
		font-size: 12px
		&:hover
			color: $orange
			text-decoration: none 
			
.email-subscribe
	margin: 48px 0 
	padding: 17px 37px 22px 
	border: 1px dashed $orange  
	border-radius: 10px 
.email-subscribe__title
	margin-bottom: 17px
	font-size: 14px
	+fb
	color: $black
	text-transform: uppercase  