.sidebar
	.item_action
		margin-top: 66px
.item-nav
	padding: 0 7px 
.item-nav__title
	margin-bottom: 8px
	padding: 6px 17px 5px
	font-size: 14px
	+fb
	text-transform: uppercase
	background: #fff1b9 
	+border-radius(14px)
	letter-spacing: .5px 
.item-nav__list
	padding-left: 32px
	line-height: 24px
	a
		color: #5c584b
		font-size: 12px  
		&:hover
			color: $orange 
	
